<section id="stats" class="text-center">
	<div class="network_stats">
		<h3>Network Statistics</h3>
		<br />
		<div class="col-sm-4 col-xs-4">
			<img src="/assets/images/hashrate.png" class="img-circle" style="max-width: 35%"/>
			<h4>Hashrate:</h4>
			<b id="hashrate"></b>
		</div>
		<div class="col-sm-4 col-xs-4">
			<img src="/assets/images/height.png" class="img-circle" style="max-width: 35%"/>
			<h4>Height:</h4>
			<b id="height"></b>
		</div>
		<div class="col-sm-4 col-xs-4">
			<img src="/assets/images/difficulty.png" class="img-circle" style="max-width: 35%"/>
			<h4>Difficulty:</h4>
			<b id="difficulty"></b>
		</div>
	</div>
</section>