<section id="download" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 id="get_morelo">{{ 'download.1' | translate | uppercase }}</h2>
                <p id="get_morelo_p1">{{ 'download.2' | translate }}</p>
                <p id="get_morelo_p2">{{ 'download.3' | translate }}</p>
                <p></p> <!-- what tf is that -->
            </div>
            <div class="col-md-18"></div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($exe); ?>">
                    <img src="assets/images/member3.jpg" class="img-responsive" alt="download 3">
                </a>
                <h3>{{ 'download.4' | translate }}</h3>
                <p>{{ 'download.5' | translate }}</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($deb); ?>">
                    <img src="assets/images/member4.jpg" class="img-responsive" alt="background">
                </a>
                <h3>{{ 'download.6' | translate }}</h3>
                <p>{{ 'download.7' | translate }}</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($windows); ?>">
                    <img src="assets/images/member1.jpg" class="img-responsive" alt="download 1">
                </a>
                <h3>{{ 'download.8' | translate }}</h3>
                <p>{{ 'download.9' | translate }}e</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($linux); ?>">
                    <img src="assets/images/member2.jpg" class="img-responsive" alt="download 2">
                </a>
                <h3>{{ 'download.10' | translate }}</h3>
                <p>{{ 'download.11' | translate }}</p>
            </div>
        </div>
    </div>
</section>
<section id="download" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>

            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($apple); ?>">
                    <img src="assets/images/macoshero.jpg" class="img-responsive" alt="download 4">
                </a>
                <h3>{{ 'download.12' | translate }}</h3>
                <p>{{ 'download.13' | translate }}</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($app); ?>">
                    <img src="assets/images/member4.jpg" class="img-responsive" alt="background">
                </a>
                <h3>{{ 'download.14' | translate }}</h3>
                <p>{{ 'download.15' | translate }}</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="https://github.com/morelo-network/morelo">
                    <img src="assets/images/github.jpg" class="img-responsive" alt="background">
                </a>
                <h3>{{ 'download.16' | translate }}</h3>
                <p>{{ 'download.17' | translate }}</p>
            </div>
        </div>
    </div>
</section>
