<section id="download" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 id="get_morelo">GET MORELO</h2>
                <p id="get_morelo_p1">On this section you can find and download the latest version available of the Morelo software, as well as hardware, light and mobile wallets.</p>
                <p id="get_morelo_p2"> The GUI wallet provides a nice user interface, adaptable to all kinds of users, but it is especially recommended for less technical people who want to quickly send and receive MRL. </p>
                <p></p> <!-- what tf is that -->
            </div>
            <div class="col-md-18"></div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($exe); ?>">
                    <img src="assets/images/member3.jpg" class="img-responsive" alt="download 3">
                </a>
                <h3>Win GUI Wallet</h3>
                <p>Windows GUI wallet Software</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($deb); ?>">
                    <img src="assets/images/member4.jpg" class="img-responsive" alt="background">
                </a>
                <h3>Linux GUI Wallet</h3>
                <p>Compatible (deb)</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($windows); ?>">
                    <img src="assets/images/member1.jpg" class="img-responsive" alt="download 1">
                </a>
                <h3>Win CLI</h3>
                <p>Windows 10 Client Software</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($linux); ?>">
                    <img src="assets/images/member2.jpg" class="img-responsive" alt="download 2">
                </a>
                <h3>LINUX CLI</h3>
                <p>Linux 64Bit Client Software</p>
            </div>
        </div>
    </div>
</section>
<section id="download" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>

            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($apple); ?>">
                    <img src="assets/images/macoshero.jpg" class="img-responsive" alt="download 4">
                </a>
                <h3>MACOS Cli</h3>
                <p>MACos Client Software</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="<?php echo($app); ?>">
                    <img src="assets/images/member4.jpg" class="img-responsive" alt="background">
                </a>
                <h3>Linux GUI Wallet</h3>
                <p>AppImage</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="https://github.com/morelo-network/morelo">
                    <img src="assets/images/github.jpg" class="img-responsive" alt="background">
                </a>
                <h3>Morelo-Network</h3>
                <p>Github Source</p>
            </div>
        </div>
    </div>
</section>
