<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12"></div>
            <div class="col-sm-6 col-md-6 info">
            <h3 id="about_h3">{{ 'about.1' | translate }}</h3>
            <h4 id="about_h4">{{ 'about.2' | translate }}</h4>
            </div>
            <div class="col-sm-6 col-md-6 skills"> <span id="supply">{{ 'about.3' | translate }}</span> <span id="supply_amount" class="pull-right">{{ 'about.4' | translate }}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span id="blocktime">{{ 'about.5' | translate }}</span> <span id="blocktime_time" class="pull-right">{{ 'about.6' | translate }}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
            </div>
            <span id="decimals">{{ 'about.7' | translate }}</span> <span class="pull-right">{{ 'about.8' | translate }}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
            </div>
            <span id="ticker">{{ 'about.9' | translate }}</span> <span class="pull-right">{{ 'about.10' | translate }}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
            </div>
            <span id="algorithm">{{ 'about.11' | translate }}</span> <span class="pull-right">{{ 'about.12' | translate }}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
            </div>
            <span id="consensus">{{ 'about.13' | translate }}</span> <span class="pull-right">{{ 'about.14' | translate }}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
            </div>
            </div>
        </div>
    </div>
</section>