<section id="timeline" class="text-center">
    <h2>{{ 'timeline.1' | translate }} <span>2019-2022</span></h2>
    <div class="flex-parent">
        <div class="input-flex-container">
            <div class="input" *ngFor="let i of numberOfElements, let x = index" [ngClass]="{'active': selected == x}" (click)="setSelected(x);scrl.scroll('timeline')">
                <div>
                    <span class="title">{{ 'timeline.title.'+(x+1) | translate }}</span>
                    <span class="date">{{ 'timeline.date.'+(x+1) | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description-flex-container" id='desc'>
        <p *ngFor="let i of numberOfElements, let x = index" [ngClass]="{'active': selected == x}">{{ 'timeline.description.'+(x+1) | translate }}</p>
    </div>
</section>