<section id="home" class="text-center">
    <div class="templatemo_headerimage">
        <div class="slider flexslider">
            <div class='slide' *ngIf='slide==1' @fade>
                <img src="assets/images/slider/1.jpg" alt="Slide 1">
                <div class="slider-caption">
                    <div class="templatemo_homewrapper">
                        <h1 id="slide1_h1">{{ 'home.1' | translate }}</h1>
                        <h2 id="slide1_h2">{{ 'home.2' | translate }}</h2>
                        <a id="slide1_link" href="" (click)="$event.preventDefault();scrl.scroll('features')" class="btn btn-lg btn-warning">{{ 'home.3' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class='slide' *ngIf='slide==2' @fade>
                <img src="assets/images/slider/2.jpg" alt="Slide 2">
                <div class="slider-caption">
                    <div class="templatemo_homewrapper">
                        <h1 id="slide2_h1">{{ 'home.4' | translate }}</h1>
                        <h2 id="slide2_h2">{{ 'home.5' | translate }}</h2>
                        <a id="slide2_link" href="" (click)="$event.preventDefault();scrl.scroll('download')" class="btn btn-lg btn-warning">{{ 'home.6' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class='slide' *ngIf='slide==3' @fade>
                <img src="assets/images/slider/3.jpg" alt="Slide 3">
                <div class="slider-caption">
                    <div class="templatemo_homewrapper">
                        <h1 id="slide3_h1">{{ 'home.7' | translate }}</h1>
                        <h2 id="slide3_h2">{{ 'home.8' | translate }}</h2>
                        <a id="slide3_link" href="" (click)="$event.preventDefault();scrl.scroll('about')" class="btn btn-lg btn-warning">{{ 'home.9' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>