<section id="home" class="text-center">
    <div class="templatemo_headerimage">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="assets/images/slider/1.jpg" alt="Slide 1">
                    <div class="slider-caption">
                        <div class="templatemo_homewrapper">
                            <h1 id="slide1_h1">Obfuscated Transactions</h1>
                            <h2 id="slide1_h2">Privacy & Opaque oriented blockchain</h2>
                            <a id="slide1_link" href="#features" class="btn btn-lg btn-warning">Learn More</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="assets/images/slider/2.jpg" alt="Slide 2">
                    <div class="slider-caption">
                        <div class="templatemo_homewrapper">
                            <h1 id="slide2_h1">Multi Cross-Plattform</h1>
                            <h2 id="slide2_h2">Full compatible software deployment</h2>
                            <a id="slide2_link" href="#download" class="btn btn-lg btn-warning">GET MORELO</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="assets/images/slider/3.jpg" alt="Slide 3">
                    <div class="slider-caption">
                        <div class="templatemo_homewrapper">
                            <h1 id="slide3_h1">Pure Decentralization</h1>
                            <h2 id="slide3_h2">Global network distribution</h2>
                            <a id="slide3_link" href="#about" class="btn btn-lg btn-warning">About Us</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>