<section id="features" class="features text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12"></div>
            <div class="col-sm-6 col-md-3"> <a href="#features"><fa-icon icon="laptop"></fa-icon></a>
                <h3 id="features1_h3">Private</h3>
                <p id="features1_p">Implementation of Ring Signatures and Ring Confidential transactions protocols obfuscate your financial data on the blockchain by default.</p>
            </div>
            <div class="col-sm-6 col-md-3"> <a href="#features"><fa-icon icon="user"></fa-icon></a>
                <h3 id="features2_h3">Decentralized</h3>
                <p id="features2_p">Morelos blockchain decentralization is supported globally by individuals, granting network operations independent from private and/or institutional organizations.</p>
            </div>
            <div class="col-sm-6 col-md-3"> <a href="#features"><fa-icon icon="cog"></fa-icon></a>
                <h3 id="features3_h3">Cross-Platform</h3>
                <p id="features3_p">Morelo provides a complete range of cross-platform software ready for deployment. Our software permits a simple and secured user experience.</p>
            </div>
            <div class="col-sm-6 col-md-3"> <a href="#features"><fa-icon icon="font"></fa-icon></a>
                <h3 id="features4_h3">Documented</h3>
                <p id="features4_p">With the contribution of our community members, Morelo offers easy, described documentation and technical support.</p>
            </div>
        </div>
    </div>
</section>