<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12"></div>
            <div class="col-sm-6 col-md-6 info">
            <h3 id="about_h3">Untraceable and Anonymous</h3>
            <h4 id="about_h4">Opaque privacy-oriented blockchain</h4>
            </div>
            <div class="col-sm-6 col-md-6 skills"> <span id="supply">Supply</span> <span id="supply_amount" class="pull-right">75 Million</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span id="blocktime">Block Time</span> <span id="blocktime_time" class="pull-right">120 Seconds</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
            </div>
            <span id="decimals">Decimals </span> <span class="pull-right">9</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
            </div>
            <span id="ticker">Ticker</span> <span class="pull-right">MRL</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
            </div>
            <span id="algorithm">Algorithm</span> <span class="pull-right">RandomARQ</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
            </div>
            <span id="consensus">Consensus</span> <span class="pull-right">POW</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
            </div>
            </div>
        </div>
    </div>
</section>