<section #features id="features" class="features text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12"></div>
            <div class="col-sm-6 col-md-3">
                <a href="" (click)="$event.preventDefault();scrl.scroll('features')">
                    <i class="fa fa-laptop"></i>
                </a>
                <h3 id="features1_h3">{{ 'features.1' | translate }}</h3>
                <p id="features1_p">{{ 'features.2' | translate }}</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="" (click)="$event.preventDefault();scrl.scroll('features')">
                    <i class="fa fa-user"></i>
                </a>
                <h3 id="features2_h3">{{ 'features.3' | translate }}</h3>
                <p id="features2_p">{{ 'features.4' | translate }}</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="" (click)="$event.preventDefault();scrl.scroll('features')">
                    <i class="fa fa-cog"></i>
                </a>
                <h3 id="features3_h3">{{ 'features.5' | translate }}</h3>
                <p id="features3_p">{{ 'features.6' | translate }}</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="" (click)="$event.preventDefault();scrl.scroll('features')">
                    <i class="fa fa-font"></i>
                </a>
                <h3 id="features4_h3">{{ 'features.7' | translate }}</h3>
                <p id="features4_p">{{ 'features.8' | translate }}</p>
            </div>
        </div>
    </div>
</section>