<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
            <h2 id="contactt">CONTACT</h2>
            <p id="contact_p">Below contact information to get in touch with the Morelo (MRL) community.</p>
            <table border="0" width="100%">
                <tbody>
                <tr>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="mailto:morelomrl@tutanota.com"><i class="fa fa-envelope-o"></i>E-Mail</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://discord.gg/eRZUjdG"><i class="fa fa-commenting-o"></i>Discord</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://t.me/morelomrl"><i class="fa fa-telegram"></i>Telegram</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://twitter.com/MoreloMrl"><i class="fa fa-twitter"></i>Twitter</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://bitcointalk.org/index.php?topic=5233023"><i class="fa fa-btc"></i>Bitcointalk</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://github.com/morelo-network/"><i class="fa fa-github"></i>GitHub</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>