<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
            <h2 id="contactt">{{ 'contact.1' | translate | uppercase }}</h2>
            <p id="contact_p">{{ 'contact.2' | translate }}</p>
            <table border="0" width="100%">
                <tbody>
                <tr>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="mailto:morelomrl@tutanota.com"><i class="fa fa-envelope-o"></i>{{ 'contact.3' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://discord.gg/eRZUjdG" target="_blank"><i class="fa fa-commenting-o"></i>{{ 'contact.4' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://t.me/morelomrl" target="_blank"><i class="fa fa-telegram"></i>{{ 'contact.5' | translate }}</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://twitter.com/MoreloMrl" target="_blank"><i class="fa fa-twitter"></i>{{ 'contact.6' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://bitcointalk.org/index.php?topic=5233023" target="_blank"><i class="fa fa-btc"></i>{{ 'contact.7' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://github.com/morelo-network/" target="_blank"><i class="fa fa-github"></i>{{ 'contact.8' | translate }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>