<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h2 id="contactt">{{ 'contact.1' | translate | uppercase }}</h2>
                <p id="contact_p">{{ 'contact.2' | translate }}</p>

                <div class="sect">
                    <div class="column">
                        <a href="mailto:morelonetwork@gmail.com"><i class="fa fa-envelope-o"></i>{{ 'contact.3' | translate }}</a>
                        <a href="https://discord.gg/Ywnmr6HBWT" target="_blank"><i class="fa fa-commenting-o"></i>{{ 'contact.4' | translate }}</a>
                        <a href="https://github.com/MoreloNetwork" target="_blank"><i class="fa fa-github"></i>{{ 'contact.8' | translate }}</a>
                        <a href="https://twitter.com/MoreloNetwork" target="_blank"><i class="fa fa-twitter"></i>{{ 'contact.6' | translate }}</a>
                        <a href="https://bitcointalk.org/index.php?topic=5233023" target="_blank"><i class="fa fa-btc"></i>{{ 'contact.7' | translate }}</a>
                    </div>
                    <div class="column widget">
                        <iframe src="https://discord.com/widget?id=790606471871594516&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                    </div>
                </div>

            <!--<table border="0" width="100%">
                <tbody>
                <tr>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="mailto:morelonetwork@gmail.com"><i class="fa fa-envelope-o"></i>{{ 'contact.3' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://discord.gg/Ywnmr6HBWT" target="_blank"><i class="fa fa-commenting-o"></i>{{ 'contact.4' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://t.me/morelomrl" target="_blank"><i class="fa fa-telegram"></i>{{ 'contact.5' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://github.com/MoreloNetwork" target="_blank"><i class="fa fa-github"></i>{{ 'contact.8' | translate }}</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://twitter.com/MoreloNetwork" target="_blank"><i class="fa fa-twitter"></i>{{ 'contact.6' | translate }}</a>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">
                        <a href="https://bitcointalk.org/index.php?topic=5233023" target="_blank"><i class="fa fa-btc"></i>{{ 'contact.7' | translate }}</a>
                    </td>
                </tr>
                </tbody>
            </table>-->
            
            </div>
        </div>
    </div>
</section>